# Node
node_modules/
.next/
out/
dist/
build/

# Env / Secrets
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Docker
docker-data/
